
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/Style.css">

<h2>Admin Sayfasi</h2>
<div class="jumbotron">
    </br>
    <h1>Fakülte Bölüm girdileri yapildiktan sonra database güncellemesi için bu butona basilmasi gerekmektedir.</h1>
    </br>
    </br>
    </br>
    </br>
    <h2>Gereksiz kullanmayiniz</h2>
    <button id="bordd" class="pulse-button"> @Html.ActionLink("Sistem Guncellemesi", "SistemiGuncelle", "Admin")</button>
</div>




