@{
    ViewBag.Title = "Sakarya Üniversitesi";
}

    <div class="jumbotron">
        <h1 style="text-align:center;">Sakarya Üniversitesi</h1>
        <h1 style="text-align:center;">Tez Benzerlik Tespit Ve Bilgi Sistemi</h1>

        <div style="text-align: center;" > <img class="diklogo" src="~/Content/img/dikeylogo.png" style="display: inline-block;"></div>
        </br></br>
        @HttpContext.Current.User.Identity.Name
      
    </div>
